body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }

  .highlight {
      background: green;
      color: white;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
.game {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
  
.game-board {
  display: inline-block;
}

.game-status {
  margin-top: 30px;
}

.game-chat {
  margin-top: 30px;
  text-align: left;
  background-color: #f4f4f4;
  padding: 10px;
}

.game-chat .chat-controls {
  margin: 10px 0 0;
}

.game-chat .chat-controls form, 
.game-chat .chat-controls .chat-input {
  width: 100%;
}
.game-chat .chat-controls form {
  display: flex;
}

.game-chat p {
  margin: 0 0 5px;
}